## Estadistica Aplicada
Sesión 6-24 agosto

Francisco Javier Chávez Hernández 2034204

Gpo 44

1.- Carga la base de datos de películas 
raw.githubusercontent.com/jimmyzac/Estadistica-Aplicada-FCFMUANL/main/bases_datos/peliculas.csv que tiene información sobre películas, 
incluyendo el título(title), género (category ) y duración en minutos(length)

In [109]:
pip install numpy

Requirement already satisfied: numpy in c:\users\javie\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.25.2)
Note: you may need to restart the kernel to use updated packages.

In [110]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\javie\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\javie\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\users\javie\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\javie\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (4.42.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\javie\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.20 in c:\users\javie\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (1.25.2)
Requirement already satisfied: packaging>=20.0 in c:\users\javie\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\javie\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (10.0.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\javie\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\javie\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\javie\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [111]:
pip install pandas

Requirement already satisfied: pandas in c:\users\javie\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\javie\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\javie\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\javie\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\javie\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in c:\users\javie\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [112]:
#librerias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib

Using matplotlib backend: TkAgg

In [113]:
movies=pd.read_csv('https://raw.githubusercontent.com/jimmyzac/Estadistica-Aplicada-FCFM-UANL/main/bases_datos/peliculas.csv')

In [114]:
movies.head()

,title,description,release_year,rental_rate,length,rating,special_features,category
0,Academy Dinosaur,A Epic Drama of a Feminist And a Mad Scientist...,2006,0.99,86,PG,"Deleted Scenes,Behind the Scenes",Documentary
1,Ace Goldfinger,A Astounding Epistle of a Database Administrat...,2006,4.99,48,G,"Trailers,Deleted Scenes",Horror
2,Adaptation Holes,A Astounding Reflection of a Lumberjack And a ...,2006,2.99,50,NC-17,"Trailers,Deleted Scenes",Documentary
3,Affair Prejudice,A Fanciful Documentary of a Frisbee And a Lumb...,2006,2.99,117,G,"Commentaries,Behind the Scenes",Horror
4,African Egg,A Fast-Paced Documentary of a Pastry Chef And ...,2006,2.99,130,G,Deleted Scenes,Family

In [115]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             1000 non-null   object
 1   description       1000 non-null   object
 2   release_year      1000 non-null   int64
 3   rental_rate       1000 non-null   float64
 4   length            1000 non-null   int64
 5   rating            1000 non-null   object
 6   special_features  1000 non-null   object
 7   category          997 non-null    object
dtypes: float64(1), int64(2), object(5)
memory usage: 62.6+ KB

In [116]:
num_movies=movies['title'].count()

In [117]:
num_movies

1000

In [118]:
movies=movies.rename(columns={'category':'Genero'})
generos=movies.groupby('Genero')['title'].count()

In [119]:
generos

Genero
Action         64
Animation      66
Children       60
Classics       57
Comedy         58
Documentary    68
Drama          61
Family         69
Foreign        73
Games          61
Horror         56
Music          51
New            63
Sci-Fi         61
Sports         73
Travel         56
Name: title, dtype: int64

In [120]:
num_generos=generos.count()

In [121]:
duracion_media=movies['length'].mean().round(2)
dm_horas=(duracion_media/60).round(2)

In [122]:
#a)Cuantas películas hay, cuantos géneros, y cuanto duran en promedio las 
#películas

print('Hay un total de',num_movies, 'peliculas, un total de',num_generos,'generos, y en promedio las peliculas tienen\nuna duracion de',duracion_media, 'minutos u',dm_horas,'horas')

Hay un total de 1000 peliculas, un total de 16 generos, y en promedio las peliculas tienen
una duracion de 115.27 minutos u 1.92 horas

In [123]:
#b) Crea un dataframe llamado películas_dormir con las películas que tienen una 
#duración superior a 2 horas y sean documentales

In [124]:
movies['TiempoHoras']=(movies['length']/60).round(2)
Documentales=movies.query('Genero=="Documentary"')
peliculas_dormir=Documentales.query('TiempoHoras>2')

In [125]:
peliculas_dormir

,title,description,release_year,rental_rate,length,rating,special_features,Genero,TiempoHoras
39,Army Flintstones,A Boring Saga of a Database Administrator And ...,2006,0.99,148,R,"Trailers,Commentaries",Documentary,2.47
57,Beach Heartbreakers,A Fateful Display of a Womanizer And a Mad Sci...,2006,2.99,122,G,"Deleted Scenes,Behind the Scenes",Documentary,2.03
128,Cause Date,A Taut Tale of a Explorer And a Pastry Chef wh...,2006,2.99,179,R,"Commentaries,Deleted Scenes,Behind the Scenes",Documentary,2.98
141,Chicken Hellfighters,A Emotional Drama of a Dog And a Explorer who ...,2006,0.99,122,PG,"Trailers,Commentaries,Deleted Scenes,Behind th...",Documentary,2.03
155,Clerks Angels,A Thrilling Display of a Sumo Wrestler And a G...,2006,4.99,164,G,Commentaries,Documentary,2.73
205,Dancing Fever,A Stunning Story of a Explorer And a Forensic ...,2006,0.99,144,G,"Commentaries,Behind the Scenes",Documentary,2.40
247,Dozen Lion,A Taut Drama of a Cat And a Girl who must Defe...,2006,4.99,177,NC-17,"Commentaries,Deleted Scenes,Behind the Scenes",Documentary,2.95
260,Duffel Apocalypse,A Emotional Display of a Boat And a Explorer w...,2006,0.99,171,G,Commentaries,Documentary,2.85
440,Hunter Alter,A Emotional Drama of a Mad Cow And a Boat who ...,2006,2.99,125,PG-13,"Commentaries,Deleted Scenes,Behind the Scenes",Documentary,2.08
456,Independence Hotel,A Thrilling Tale of a Technical Writer And a B...,2006,0.99,157,NC-17,"Trailers,Behind the Scenes",Documentary,2.62
543,Madison Trap,A Awe-Inspiring Reflection of a Monkey And a D...,2006,2.99,147,R,"Commentaries,Deleted Scenes,Behind the Scenes",Documentary,2.45
551,Majestic Floats,A Thrilling Character Study of a Moose And a S...,2006,0.99,130,PG,Trailers,Documentary,2.17
570,Metal Armageddon,A Thrilling Display of a Lumberjack And a Croc...,2006,2.99,161,PG-13,"Trailers,Commentaries,Deleted Scenes",Documentary,2.68
575,Mighty Luck,A Astounding Epistle of a Mad Scientist And a ...,2006,2.99,122,PG,Behind the Scenes,Documentary,2.03
621,Newsies Story,A Action-Packed Character Study of a Dog And a...,2006,0.99,159,G,"Trailers,Deleted Scenes",Documentary,2.65
628,Notorious Reunion,A Amazing Epistle of a Woman And a Squirrel wh...,2006,0.99,128,NC-17,"Trailers,Commentaries,Deleted Scenes",Documentary,2.13
649,Pacific Amistad,A Thrilling Yarn of a Dog And a Moose who must...,2006,0.99,144,G,"Trailers,Commentaries,Deleted Scenes,Behind th...",Documentary,2.40
686,Pocus Pulp,A Intrepid Yarn of a Frisbee And a Dog who mus...,2006,0.99,138,NC-17,"Commentaries,Deleted Scenes,Behind the Scenes",Documentary,2.30
733,Road Roxanne,A Boring Character Study of a Waitress And a A...,2006,4.99,158,R,Behind the Scenes,Documentary,2.63
790,Show Lord,A Fanciful Saga of a Student And a Girl who mu...,2006,4.99,167,PG-13,Deleted Scenes,Documentary,2.78
833,Spoilers Hellfighters,A Fanciful Story of a Technical Writer And a S...,2006,0.99,151,G,"Trailers,Commentaries,Deleted Scenes,Behind th...",Documentary,2.52
854,Streak Ridgemont,A Astounding Character Study of a Hunter And a...,2006,0.99,132,PG-13,"Trailers,Behind the Scenes",Documentary,2.20
924,United Pilot,A Fast-Paced Reflection of a Cat And a Mad Cow...,2006,0.99,164,R,"Trailers,Deleted Scenes",Documentary,2.73
944,Virginian Pluto,A Emotional Panorama of a Dentist And a Crocod...,2006,0.99,164,R,Deleted Scenes,Documentary,2.73
951,Wagon Jaws,A Intrepid Drama of a Moose And a Boat who mus...,2006,2.99,152,PG,"Deleted Scenes,Behind the Scenes",Documentary,2.53
959,Wars Pluto,A Taut Reflection of a Teacher And a Database ...,2006,2.99,128,G,"Commentaries,Behind the Scenes",Documentary,2.13
972,Wife Turn,A Awe-Inspiring Epistle of a Teacher And a Fem...,2006,4.99,183,NC-17,"Deleted Scenes,Behind the Scenes",Documentary,3.05
991,Wrath Mile,A Intrepid Reflection of a Technical Writer An...,2006,0.99,176,NC-17,"Trailers,Commentaries",Documentary,2.93
995,Young Language,A Unbelieveable Yarn of a Boat And a Database ...,2006,0.99,183,G,"Trailers,Behind the Scenes",Documentary,3.05

In [126]:
#c) contar cuantas peliculas de cada genero existen
generos=movies.groupby('Genero')['title'].count()
generos

Genero
Action         64
Animation      66
Children       60
Classics       57
Comedy         58
Documentary    68
Drama          61
Family         69
Foreign        73
Games          61
Horror         56
Music          51
New            63
Sci-Fi         61
Sports         73
Travel         56
Name: title, dtype: int64

In [127]:
#d) calcular la duracion promedio de las peliculas de cada genero
promAction=movies.query('Genero=="Action"')['TiempoHoras'].mean().round(2)
promAnimation=movies.query('Genero=="Animation"')['TiempoHoras'].mean().round(2)
promChildren=movies.query('Genero=="Children"')['TiempoHoras'].mean().round(2)
promClassics=movies.query('Genero=="Classics"')['TiempoHoras'].mean().round(2)
promComedy=movies.query('Genero=="Comedy"')['TiempoHoras'].mean().round(2)
promDocumentary=movies.query('Genero=="Documentary"')['TiempoHoras'].mean().round(2)
promDrama=movies.query('Genero=="Drama"')['TiempoHoras'].mean().round(2)
promFamily=movies.query('Genero=="Family"')['TiempoHoras'].mean().round(2)
promForeign=movies.query('Genero=="Foreign"')['TiempoHoras'].mean().round(2)
promGames=movies.query('Genero=="Games"')['TiempoHoras'].mean().round(2)
promHorror=movies.query('Genero=="Horror"')['TiempoHoras'].mean().round(2)
promMusic=movies.query('Genero=="Music"')['TiempoHoras'].mean().round(2)
promNew=movies.query('Genero=="New"')['TiempoHoras'].mean().round(2)
promSciFi=movies.query('Genero=="Sci-Fi"')['TiempoHoras'].mean().round(2)
promSports=movies.query('Genero=="Sports"')['TiempoHoras'].mean().round(2)
promTravel=movies.query('Genero=="Travel"')['TiempoHoras'].mean().round(2)

In [128]:
print('Los promedios de duración en horas para cada género son: \nAction:',promAction, '\nAnimation:',promAnimation, '\nChildren:', promChildren,
'\nClassics:', promClassics, '\nComedy:',promComedy, '\nDocumentary:',promDocumentary,'\nDrama:',promDrama,'\nFamily:',promFamily,
'\nForeign:', promForeign,'\nGames:',promGames,'\nHorror:',promHorror,'\nMusic:',promMusic,'\nNew:',promNew,'\nSci-Fi:',promSciFi,
'\nSports:',promSports, '\nTravel:',promTravel)

Los promedios de duración en horas para cada género son:
Action: 1.86
Animation: 1.85
Children: 1.83
Classics: 1.86
Comedy: 1.93
Documentary: 1.81
Drama: 2.0
Family: 1.91
Foreign: 2.03
Games: 2.13
Horror: 1.88
Music: 1.89
New: 1.85
Sci-Fi: 1.8
Sports: 2.12
Travel: 1.89

In [129]:
#e) Crear una nueva columna que indique si una película es "Corta" (duración menor a 1.5 horas), 
# "Normal" (entre 1.5 y 2.5 horas) o "Larga" (mayor a 2.5 horas)
condiciones=[movies['length']<90,
             movies['length']<150,
             movies['length']>150]
valores=['Corta','Normal','Larga']

movies['Duración']=np.select(condiciones, valores, default='Invalido')
movies

,title,description,release_year,rental_rate,length,rating,special_features,Genero,TiempoHoras,Duración
0,Academy Dinosaur,A Epic Drama of a Feminist And a Mad Scientist...,2006,0.99,86,PG,"Deleted Scenes,Behind the Scenes",Documentary,1.43,Corta
1,Ace Goldfinger,A Astounding Epistle of a Database Administrat...,2006,4.99,48,G,"Trailers,Deleted Scenes",Horror,0.80,Corta
2,Adaptation Holes,A Astounding Reflection of a Lumberjack And a ...,2006,2.99,50,NC-17,"Trailers,Deleted Scenes",Documentary,0.83,Corta
3,Affair Prejudice,A Fanciful Documentary of a Frisbee And a Lumb...,2006,2.99,117,G,"Commentaries,Behind the Scenes",Horror,1.95,Normal
4,African Egg,A Fast-Paced Documentary of a Pastry Chef And ...,2006,2.99,130,G,Deleted Scenes,Family,2.17,Normal
...,...,...,...,...,...,...,...,...,...,...
995,Young Language,A Unbelieveable Yarn of a Boat And a Database ...,2006,0.99,183,G,"Trailers,Behind the Scenes",Documentary,3.05,Larga
996,Youth Kick,A Touching Drama of a Teacher And a Cat who mu...,2006,0.99,179,NC-17,"Trailers,Behind the Scenes",Music,2.98,Larga
997,Zhivago Core,A Fateful Yarn of a Composer And a Man who mus...,2006,0.99,105,NC-17,Deleted Scenes,Horror,1.75,Normal
998,Zoolander Fiction,A Fateful Reflection of a Waitress And a Boat ...,2006,2.99,101,R,"Trailers,Deleted Scenes",Children,1.68,Normal
999,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...,2006,4.99,50,NC-17,"Trailers,Commentaries,Behind the Scenes",Comedy,0.83,Corta

2.- Sabemos que en el caso de México, esta formado por estados, y cada estado esta 
formado por municipios. La base de datos población_Asgard 
raw.githubusercontent.com/jimmyzac/Estadistica-Aplicada-FCFM-UANL/main/bases_datos/poblacion_Asgard.csv contiene los datos de un país llamado 
Asgard, formado por estados y estos a su vez por municipios. Para cada municipio se 
reporta su población

In [130]:
Asgard=pd.read_csv('https://raw.githubusercontent.com/jimmyzac/Estadistica-Aplicada-FCFM-UANL/main/bases_datos/poblacion_Asgard.csv')

In [131]:
Asgard

      País     Estado      Municipio  Población
0   Asgard    Pandora   Reino Tierra     377896
1   Asgard   Alderaan  Fuente Dorada      49984
2   Asgard    Genosha      El Carmen     303918
3   Asgard      Naboo         Omashu     265712
4   Asgard     Mordor      Don Bosco     121151
..     ...        ...            ...        ...
85  Asgard     Gotham    Mar violeta      44585
86  Asgard  Mandalore   Mar amarillo     372369
87  Asgard   Mustafar       Mar Azul      65044
88  Asgard   Atlantis   Mar amarillo     961061
89  Asgard     Narnia   Mar amarillo     443296

[90 rows x 4 columns]

In [132]:
Asgard.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   País       90 non-null     object
 1   Estado     90 non-null     object
 2   Municipio  90 non-null     object
 3   Población  90 non-null     int64
dtypes: int64(1), object(3)
memory usage: 2.9+ KB

In [133]:
#a) Ordena la base alfabéticamente por estado y por municipio
alf=Asgard.sort_values(['Estado','Municipio'])

In [134]:
alf

      País    Estado       Municipio  Población
16  Asgard  Alderaan     Ciudad Jedi     130312
1   Asgard  Alderaan   Fuente Dorada      49984
31  Asgard  Alderaan        Luz azul     914910
76  Asgard  Alderaan          Madero     774290
46  Asgard  Alderaan      San Isidro     159338
..     ...       ...             ...        ...
8   Asgard     Yaven       El Bosque     649663
83  Asgard     Yaven      Green Flag     380989
68  Asgard     Yaven     Santa María     111687
53  Asgard     Yaven     Villa Wendy     646914
38  Asgard     Yaven  Villa amarilla     274109

[90 rows x 4 columns]

In [135]:
alf.head(10) #para comprobar que coinciden con las instrucciones

      País    Estado        Municipio  Población
16  Asgard  Alderaan      Ciudad Jedi     130312
1   Asgard  Alderaan    Fuente Dorada      49984
31  Asgard  Alderaan         Luz azul     914910
76  Asgard  Alderaan           Madero     774290
46  Asgard  Alderaan       San Isidro     159338
61  Asgard  Alderaan  The Upside Down     254618
13  Asgard  Atlantis        Luz verde     689519
73  Asgard  Atlantis           Madero     728270
88  Asgard  Atlantis     Mar amarillo     961061
58  Asgard  Atlantis       Playa Rosa     123409

In [136]:
#b) Cuantos estados hay, cuantos municipios hay en cada estado y cuantos municipios hay en total.
estados=Asgard.groupby('Estado')['País'].count()
estados

Estado
Alderaan     6
Atlantis     6
Endor        6
Genosha      6
Gotham       6
Mandalore    6
Mordor       6
Mustafar     6
Naboo        6
Narnia       6
Pandora      6
Sokovia      6
Tatooine     6
Wakanda      6
Yaven        6
Name: País, dtype: int64

In [137]:
num_estados=estados.count()
num_estados

15

In [138]:
municipios=Asgard.groupby('Municipio')['País'].count()
municipios

Municipio
Amanecer            1
Blue moon           2
Ciudad Jedi         2
Ciudad Lisa         1
Ciudad Stark        1
Ciudad sith         1
Coral               3
Don Bosco           1
El Bosque           2
El Carmen           1
Esperanza           1
Fuente Dorada       2
Gral Escobedo       1
Green Flag          1
Hidalgo             1
Juárez              1
La Unión            1
Luz azul            2
Luz roja            1
Luz verde           1
Madero              3
Madripur            1
Mar Azul            1
Mar amarillo        3
Mar violeta         2
Mirkwood            1
Omashu              1
Playa Cristalina    2
Playa Rosa          2
Playa Verde         2
Pueblo Nuevo        1
Redgreen            1
Reino Tierra        1
San Isidro          2
San Jorge           1
San Miguel          1
San Pedro           4
San Silverio        1
Santa Catarina      1
Santa María         3
Shelbyville         1
Springfield         1
The Upside Down     2
The Void            1
Villa Anakin        2
Villa Azul          1
Villa Demogorgon    2
Villa Lannister     2
Villa Marlon        1
Villa Nikola        2
Villa Norte         2
Villa Paola         1
Villa Roja          2
Villa Salma         1
Villa Wendy         1
Villa amarilla      2
Villa rosa          1
Villa western       2
Yellow town         2
Name: País, dtype: int64

In [139]:
total_municipios=municipios.count()
total_municipios

59

Varios nombres de municipios se repiten en diferentes estados, esto quiere decir que hay 59 nombres de municipios pero en total hay
15(estados)x6(municipios)=90 municipios

In [140]:
Alderaan=Asgard.query('Estado=="Alderaan"')
Atlantis=Asgard.query('Estado=="Atlantis"')
Endor=Asgard.query('Estado=="Endor"')
Genosha=Asgard.query('Estado=="Genosha"')
Gotham=Asgard.query('Estado=="Gotham"')
Mandalore=Asgard.query('Estado=="Mandalore"')
Mordor=Asgard.query('Estado=="Mordor"')
Mustafar=Asgard.query('Estado=="Mustafar"')
Naboo=Asgard.query('Estado=="Naboo"')
Narnia=Asgard.query('Estado=="Narnia"')
Pandora=Asgard.query('Estado=="Pandora"')
Sokovia=Asgard.query('Estado=="Sokovia"')
Tatooine=Asgard.query('Estado=="Tatooine"')
Wakanda=Asgard.query('Estado=="Wakanda"')
Yaven=Asgard.query('Estado=="Yaven"')

In [141]:
Alderaan['Municipio'].count()
Atlantis['Municipio'].count()
Endor['Municipio'].count()
Genosha['Municipio'].count()
Gotham['Municipio'].count()
Mandalore['Municipio'].count()
Mordor['Municipio'].count()
Mustafar['Municipio'].count()
Naboo['Municipio'].count()
Narnia['Municipio'].count()
Pandora['Municipio'].count()
Sokovia['Municipio'].count()
Tatooine['Municipio'].count()
Wakanda['Municipio'].count()
Yaven['Municipio'].count()

6

In [142]:
print('Asgard se compone de', num_estados,'estados, y cada estado se compone de 6 municipios, entonces hay 90 municipios en total\npero si hablamos de nombres de municipio (algunos estados tienen municipios con el mismo nombre), entonces hay en total', total_municipios, 'municipios')

Asgard se compone de 15 estados, y cada estado se compone de 6 municipios, entonces hay 90 municipios en total
pero si hablamos de nombres de municipio (algunos estados tienen municipios con el mismo nombre), entonces hay en total 59 municipios

In [143]:
#c) Cuanta población tiene el país en total y cuanta población tiene cada estado
poblacion_total=Asgard['Población'].sum()
poblacion_total

pAlderaan=Asgard.query('Estado=="Alderaan"')['Población'].sum()
pAtlantis=Asgard.query('Estado=="Atlantis"')['Población'].sum()
pEndor=Asgard.query('Estado=="Endor"')['Población'].sum()
pGenosha=Asgard.query('Estado=="Genosha"')['Población'].sum()
pGotham=Asgard.query('Estado=="Gotham"')['Población'].sum()
pMandalore=Asgard.query('Estado=="Mandalore"')['Población'].sum()
pMordor=Asgard.query('Estado=="Mordor"')['Población'].sum()
pMustafar=Asgard.query('Estado=="Mustafar"')['Población'].sum()
pNaboo=Asgard.query('Estado=="Naboo"')['Población'].sum()
pNarnia=Asgard.query('Estado=="Narnia"')['Población'].sum()
pPandora=Asgard.query('Estado=="Pandora"')['Población'].sum()
pSokovia=Asgard.query('Estado=="Sokovia"')['Población'].sum()
pTatooine=Asgard.query('Estado=="Tatooine"')['Población'].sum()
pWakanda=Asgard.query('Estado=="Wakanda"')['Población'].sum()
pYaven=Asgard.query('Estado=="Yaven"')['Población'].sum()

print('El pais en total tiene una poblacion de',poblacion_total, 'habitantes.\nY de cada estado:\nAlderaan:',pAlderaan,'\nAtlantis:',pAtlantis,
'\nEndor:',pEndor,'\nGenosha:',pGenosha,'\nGotham:',pGotham,'\nMandalore:',pMandalore,'\nMordor:',pMordor,'\nMustafar:',pMustafar,'\nNaboo:',pNaboo,
'\nNarnia:',pNarnia,'\nPandora:',pPandora,'\nSokovia:',pSokovia,'\nTatooine:',pTatooine,'\nWakanda:',pWakanda,'\nYaven:',pYaven)

El pais en total tiene una poblacion de 43114719 habitantes.
Y de cada estado:
Alderaan: 2283452
Atlantis: 3779656
Endor: 2427956
Genosha: 2871584
Gotham: 3204304
Mandalore: 2044164
Mordor: 3627119
Mustafar: 2183880
Naboo: 1602111
Narnia: 2961407
Pandora: 2959272
Sokovia: 4722224
Tatooine: 2770055
Wakanda: 2905562
Yaven: 2771973

In [144]:
#d) Calcula la mediana de la población de los municipios, y clasifícalos, aquellos por arriba de la mediana deben llamarse “muy poblados” 
# y aquellos debajo de la mediana “poco poblados”

mediana=Asgard['Población'].median()

conditions=[Asgard['Población']<mediana,
             Asgard['Población']>mediana]
values=['Poco Poblado','Muy Poblado']

Asgard['EstatusPoblacional']=np.select(conditions, values, default='Invalido')
Asgard

      País     Estado      Municipio  Población EstatusPoblacional
0   Asgard    Pandora   Reino Tierra     377896       Poco Poblado
1   Asgard   Alderaan  Fuente Dorada      49984       Poco Poblado
2   Asgard    Genosha      El Carmen     303918       Poco Poblado
3   Asgard      Naboo         Omashu     265712       Poco Poblado
4   Asgard     Mordor      Don Bosco     121151       Poco Poblado
..     ...        ...            ...        ...                ...
85  Asgard     Gotham    Mar violeta      44585       Poco Poblado
86  Asgard  Mandalore   Mar amarillo     372369       Poco Poblado
87  Asgard   Mustafar       Mar Azul      65044       Poco Poblado
88  Asgard   Atlantis   Mar amarillo     961061        Muy Poblado
89  Asgard     Narnia   Mar amarillo     443296       Poco Poblado

[90 rows x 5 columns]

In [145]:
#e) Encuentra los 5 municipios mas poblados y los cinco municipios menos poblados del país
maxmun=Asgard.groupby('Población')['Municipio'].max()
maxmun

Población
13666       Ciudad Jedi
14986          Luz roja
25538        Villa rosa
31535       Shelbyville
44585       Mar violeta
              ...
974324      Yellow town
974548    Gral Escobedo
986067         La Unión
997107      Villa Norte
998079         Madripur
Name: Municipio, Length: 90, dtype: object

In [187]:
#mas poblados
orden=Asgard.sort_values('Población') #menor a mayor
cincomax=orden.tail(5)
cincomax

      País    Estado      Municipio  Población EstatusPoblacional
79  Asgard    Mordor    Yellow town     974324        Muy Poblado
74  Asgard    Narnia  Gral Escobedo     974548        Muy Poblado
6   Asgard   Sokovia       La Unión     986067        Muy Poblado
27  Asgard  Mustafar    Villa Norte     997107        Muy Poblado
34  Asgard    Mordor       Madripur     998079        Muy Poblado

In [188]:
#menos poblados
cincomin=orden.head(5)
cincomin

      País     Estado    Municipio  Población EstatusPoblacional
17  Asgard    Genosha  Ciudad Jedi      13666       Poco Poblado
14  Asgard     Narnia     Luz roja      14986       Poco Poblado
39  Asgard      Endor   Villa rosa      25538       Poco Poblado
26  Asgard  Mandalore  Shelbyville      31535       Poco Poblado
85  Asgard     Gotham  Mar violeta      44585       Poco Poblado

In [189]:
#f)El municipio más poblado de cada estado
munmax_estado=Asgard.groupby('Estado')['Población'].idxmax()
munmax_estado
Asgard.loc[munmax_estado]

      País     Estado         Municipio  Población EstatusPoblacional
31  Asgard   Alderaan          Luz azul     914910        Muy Poblado
88  Asgard   Atlantis      Mar amarillo     961061        Muy Poblado
69  Asgard      Endor       Santa María     875371        Muy Poblado
32  Asgard    Genosha   Villa Lannister     822654        Muy Poblado
55  Asgard     Gotham       Playa Verde     918710        Muy Poblado
71  Asgard  Mandalore         San Pedro     736716        Muy Poblado
34  Asgard     Mordor          Madripur     998079        Muy Poblado
27  Asgard   Mustafar       Villa Norte     997107        Muy Poblado
33  Asgard      Naboo          Luz azul     602661        Muy Poblado
74  Asgard     Narnia     Gral Escobedo     974548        Muy Poblado
60  Asgard    Pandora  Villa Demogorgon     969140        Muy Poblado
6   Asgard    Sokovia          La Unión     986067        Muy Poblado
50  Asgard   Tatooine      Villa Marlon     925414        Muy Poblado
82  Asgard    Wakanda          Redgreen     880858        Muy Poblado
23  Asgard      Yaven          Amanecer     708611        Muy Poblado

##3. Graficos

In [149]:
#a) Los 15 municipios mas poblados de Asgard
quince_max=orden.tail(15)
quince_max

      País    Estado         Municipio  Población EstatusPoblacional
69  Asgard     Endor       Santa María     875371        Muy Poblado
82  Asgard   Wakanda          Redgreen     880858        Muy Poblado
40  Asgard    Gotham        Villa Roja     895498        Muy Poblado
51  Asgard   Sokovia       Villa Paola     898421        Muy Poblado
43  Asgard  Atlantis         San Pedro     900684        Muy Poblado
31  Asgard  Alderaan          Luz azul     914910        Muy Poblado
55  Asgard    Gotham       Playa Verde     918710        Muy Poblado
50  Asgard  Tatooine      Villa Marlon     925414        Muy Poblado
88  Asgard  Atlantis      Mar amarillo     961061        Muy Poblado
60  Asgard   Pandora  Villa Demogorgon     969140        Muy Poblado
79  Asgard    Mordor       Yellow town     974324        Muy Poblado
74  Asgard    Narnia     Gral Escobedo     974548        Muy Poblado
6   Asgard   Sokovia          La Unión     986067        Muy Poblado
27  Asgard  Mustafar       Villa Norte     997107        Muy Poblado
34  Asgard    Mordor          Madripur     998079        Muy Poblado

In [150]:
plt.bar(quince_max['Municipio'], quince_max['Población'], color=['gold'], width=0.7)
plt.xlabel('Municipio')
plt.ylabel('Habitantes')
plt.title('15 municipios mas poblados de Asgard')
plt.ylim(800000,1020000)

plt.show()

In [190]:
#b)Cuantas peliculas hay de cada genero
gen=movies.groupby('Genero')['title'].count()
gen=pd.DataFrame(gen)
gen['Genero']=gen.index
gen=gen.sort_values('title', ascending=0)

In [193]:
plt.bar(gen['Genero'], gen['title'], color=['silver'], width=0.7)
plt.xlabel('Género')
plt.ylabel('Número de películas')
plt.title('Películas por Género')
plt.ylim(0,80)

plt.show()